<!-- custom local js -->
{{- range .Site.Params.customJS -}}
{{ $script := resources.Get (printf "scripts/%s" . ) | minify | fingerprint }}
<script src="{{ $script.Permalink | relURL }}" integrity="{{ $script.Data.Integrity }}"></script>
{{- end }}

<!-- highlight.js -->
{{- if .Site.Params.highlightInClient -}}
<script src="{{ "lib/highlight/highlight.pack.js?v=20171001" | relURL }}"></script>
{{- end -}}

<!-- core -->
{{- if .Site.Params.publicCDN.enable }}
{{ .Site.Params.publicCDN.jquery | safeHTML }}
{{ if .Site.Params.publicCDN.slideout }}{{ .Site.Params.publicCDN.slideout | safeHTML }}{{ end }}
{{ if .Site.Params.fancybox }}{{ .Site.Params.publicCDN.fancyboxJS | safeHTML }}{{ end }}
{{- end -}}

<!-- timeago.JS -->
{{- if and (or .Params.enableOutdatedInfoWarning (and .Site.Params.outdatedInfoWarning.enable (ne .Params.enableOutdatedInfoWarning false))) (or .IsPage .IsHome) }}
{{- if .Site.Params.publicCDN.enable }}
{{ .Site.Params.publicCDN.timeagoJS | safeHTML }}
{{ .Site.Params.publicCDN.timeagoLocalesJS | safeHTML }}
{{- end }}
<script>< !--NOTE: timeago.js uses the language code format like "zh_CN"(underscore and case sensitive)-- >
    var languageCode = {{ .Site.LanguageCode }}.replace(/-/g, '_').replace(/_(.*)/, function ($0, $1) { return $0.replace($1, $1.toUpperCase()); });
  timeago().render(document.querySelectorAll('.timeago'), languageCode);
  timeago.cancel();  // stop update
</script>
{{- end -}}

<!-- flowchart -->
{{- if and (or .Params.flowchartDiagrams.enable (and .Site.Params.flowchartDiagrams.enable (ne .Params.flowchartDiagrams.enable false))) (or .IsPage .IsHome) -}}
<script>
  { { - if .Params.flowchartDiagrams.options -} }
  window.flowchartDiagramsOptions = {{ .Params.flowchartDiagrams.options | safeJS }};
  { { - else if .Site.Params.flowchartDiagrams.options -} }
  window.flowchartDiagramsOptions = {{ .Site.Params.flowchartDiagrams.options | safeJS }};
  { { - end -} }
</script>
{{- if .Site.Params.publicCDN.enable -}}
{{ .Site.Params.publicCDN.flowchartDiagramsJS | safeHTML }}
{{- end -}}
{{- end -}}

<!-- js-sequence-diagrams -->
{{- if and (or .Params.sequenceDiagrams.enable (and .Site.Params.sequenceDiagrams.enable (ne .Params.sequenceDiagrams.enable false))) (or .IsPage .IsHome) -}}
<script>
  { { - if .Params.sequenceDiagrams.options -} }
  window.sequenceDiagramsOptions = {{ .Params.sequenceDiagrams.options | safeJS }};
  { { - else if .Site.Params.sequenceDiagrams.options -} }
  window.sequenceDiagramsOptions = {{ .Site.Params.sequenceDiagrams.options | safeJS }};
  { { - end -} }
</script>
{{- if .Site.Params.publicCDN.enable -}}
{{ .Site.Params.publicCDN.sequenceDiagramsJS | safeHTML }}
{{ .Site.Params.publicCDN.sequenceDiagramsCSS | safeHTML }}
{{- end -}}
{{- end }}
<script type="text/javascript" src="{{ print "dist/" .Site.Data.even.assets.even.js | relURL }}"></script>

{{ if not $.IsNode }}
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$']],
        processEscapes: true,
        processEnvironments: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        TeX: {
          equationNumbers: { autoNumber: "AMS" },
          extensions: ["AMSmath.js", "AMSsymbols.js"]
        }
      }
    });
    MathJax.Hub.Queue(function () {
      // Fix <code> tags after MathJax finishes running. This is a
      // hack to overcome a shortcoming of Markdown. Discussion at
      // https://github.com/mojombo/jekyll/issues/199
      var all = MathJax.Hub.getAllJax(), i;
      for (i = 0; i < all.length; i += 1) {
        all[i].SourceElement().parentNode.className += ' has-jax';
      }
    });

    MathJax.Hub.Config({
      // Autonumbering by mathjax
      TeX: { equationNumbers: { autoNumber: "AMS" } }
    });
  </script>
{{ end }}

<!-- Analytics -->
{{- if and (not .Site.IsServer) .Site.GoogleAnalytics -}}
{{ template "_internal/google_analytics_async.html" . }}
{{- end -}}
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "124ca8d71dd9454590e9b7e0db03d2fb"}'></script><!-- End Cloudflare Web Analytics -->
